.cart-container {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 1000;
  width: 300px;
  max-height: 80%;
  overflow-y: auto;
  background: white;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
}
.remove{
  background-color: red;
}

.quantity-button {
  --background: transparent; /* Fondo transparente */
  --border-radius: 50%; /* Botón circular */
  --border-color: #e02012; /* Color del borde (verde suave) */
  --color: #e02012; /* Color del ícono */
  --width: 40px; /* Tamaño del botón (ancho) */
  --height: 40px; /* Tamaño del botón (alto) */
  --padding: 0; /* Sin relleno interno */
  --transition: 0.3s ease-in-out; /* Suave transición */
}

.quantity-button:hover {
  --background: #e6f7e6; /* Fondo verde claro al pasar el mouse */
  --border-color: #e02012; /* Color más intenso en el borde */
  --color: #e02012; /* Ícono más oscuro */
}

.quantity-button ion-icon {
  font-size: 18px; /* Tamaño del ícono */
}

.quantity-button-mas {
  --background: transparent; /* Fondo transparente */
  --border-radius: 50%; /* Botón circular */
  --border-color: #28a745; /* Color del borde (verde suave) */
  --color: #28a745; /* Color del ícono */
  --width: 40px; /* Tamaño del botón (ancho) */
  --height: 40px; /* Tamaño del botón (alto) */
  --padding: 0; /* Sin relleno interno */
  --transition: 0.3s ease-in-out; /* Suave transición */
}


.quantity-button-mas ion-icon {
  font-size: 18px; /* Tamaño del ícono */
}
.minimize-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.maximize-button {
  position: fixed;  /* Hace que flote sobre la página */
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #008CBA;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maximize-button ion-icon {
  color: white;
}