@if (isVisible) {
  <ion-card class="cart-container">
    <ion-card-header>
      <ion-buttons slot="end">
      </ion-buttons>
      <ion-card-title>Carrito de Compras</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      @if (cartItems.length === 0) {
        <ion-text class="empty-cart">El carrito está vacío</ion-text>
      } @else {
        <ion-list class="cart-items">
          @for (item of cartItems; track item.productId) {
            <ion-item class="cart-item">
              <ion-label>
                <h2>{{ item.name }}</h2>
                <p class="item-price">Precio: ${{ item.price.toFixed(2) }}</p>
              </ion-label>
              <ion-buttons slot="end">
                <ion-button class="quantity-button" fill="outline" (click)="updateQuantity(item.productId, item.quantity - 1)" color="succes">
                  -
                </ion-button>
                <ion-text>{{ item.quantity }}</ion-text>
                <ion-button class="quantity-button-mas" fill="outline" (click)="updateQuantity(item.productId, item.quantity + 1)" color="success">
                  +
                </ion-button>
                <ion-button class="remove-button" fill="clear" color="danger" (click)="removeItem(item.productId)">
                  🗑️
                </ion-button>
              </ion-buttons>
            </ion-item>
          }
        </ion-list>

        <div class="cart-total">
          <ion-text color="primary">
            <h2>Total: ${{ total.toFixed(2) }}</h2>
          </ion-text>
          <ion-button expand="full" color="success" class="checkout-button">
            Proceder al Pago
          </ion-button>
        </div>
      }
    </ion-card-content>

    <!-- Botón para minimizar el carrito -->
    <div class="minimize-button" (click)="minimizeCart()">Minimizar</div>
  </ion-card>
}

<!-- Botón flotante para maximizar el carrito -->
<div class="maximize-button hidden" (click)="maximizeCart()">
  <ion-icon name="cart"></ion-icon>
</div>
