.custom-header {
  background-color: #cc6d35; /* Color café oscuro, adecuado para la temática */
  padding: 10px;
}

.custom-toolbar {
  --background: transparent; /* Fondo transparente para un look más limpio */
  --border-width: 0; /* Eliminar borde */
  display: flex;
  justify-content: center; /* Centrado de título */
  align-items: center; /* Alineación vertical al centro */
}

.header-title {
  font-family: 'Pacifico', sans-serif; /* Tipografía más estilosa y amigable */
  font-size: 28px;
  color: #fff; /* Color blanco brillante */
  letter-spacing: 2px; /* Espaciado de letras para una lectura más elegante */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave para resaltar el texto */
  text-transform: uppercase; /* Texto en mayúsculas */
  font-weight: bold; /* Peso de fuente para darle mayor énfasis */
}

@media (max-width: 768px) {
  .header-title {
    font-size: 24px; /* Reducir el tamaño del título en pantallas pequeñas */
  }
}


.swiper {
  width: 100%;
  height: auto;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 123, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 115, 0, 0.1);
    padding: 20px;
    text-align: center;

    img {
      width: 100px;
      height: auto;
      margin-bottom: 10px;
      border-radius: 10px;
    }

    h3 {
      font-size: 1.2rem;
      color: #333;
    }

    p {
      font-size: 1rem;
      color: #888;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #333;
    font-size: 1.5rem;

    &:hover {
      color: #666;
    }
  }

  .swiper-pagination {
    bottom: 10px;

    .swiper-pagination-bullet {
      background-color: #333;
      opacity: 0.7;

      &-active {
        background-color: #555;
        opacity: 1;
      }
    }
  }
}

.custom-footer {
  background-color: #000000; /* Color beige suave */
  padding: 10px 0;
}

.custom-toolbar {
  --background: #722d06; /* Café oscuro o marrón tomate */
  --border-width: 1px;
  --border-color: #722d06; /* Variación de un marrón más cálido */
}

.footer-icon {
  color: #3d2b1f; /* Color marrón oscuro */
  margin-right: 8px;
}

.social-icon {
  color: #3d2b1f; /* Igual para los íconos sociales */
  margin-right: 8px;
}

.phone-text, .email-text, .social-text {
  font-size: 14px;
  color: #402c1e; /* Tono más oscuro de café para mejor contraste */
  font-family: 'Georgia', serif;
  line-height: 1.5;
}

.phone-text span, .email-text a, .social-text a {
  font-weight: bold;
  color: #ffffff; /* Rojo tomate brillante */
  text-decoration: none;
}

.phone-text span, .email-text a, .social-text a:hover {
  text-decoration: underline;
}

.phone-email {
  text-align: center;
}

@media (max-width: 600px) {
  .phone-text, .email-text, .social-text {
    font-size: 12px;
  }
}



